name: Push schema documentation

on:
  push:
    paths:
      - 'src/main/resources/schemas/**'
    branches-ignore:
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:  [14]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run generate-schema-documentation

      - name: Push schema documentation to documentation
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.GH_PACKAGE_RELEASE_TOKEN }}
          src_path: ../target/generated-sources/markdown/schemas
          dst_path: docs/backend/admin/consultingtypeservice/schemas
          dst_owner: ${{ github.repository_owner }}
          dst_repo_name: ${{ secrets.DOCUMENTATION_REPO }}
          dst_branch: adminapi
          clean: true
          commit_message: 'docs: updated consulting type service schema documentation'
